@font-face {
  font-family: "ocr-a-std", monospace;
  font-weight: 400;
  font-style: normal;
  src: url("https://use.typekit.net/agq7tel.css");
}

:root {
  --main-bg-color: #f0f8ff;
  --main-font-family: "ocr-a-std";
  --header-font-size: 60px;
  --header-font-size-tablet: 50px;
  --header-font-size-mobile: 40px;
  --subheader-font-size: 24px;
  --subheader-font-size-tablet: 18px;
  --subheader-font-size-mobile: 16px;
  --main-font-size: 16px;
  --main-font-size-mobile: 12px;
  --footer-font-size: 12px;
  --icon-size: 30px;
  --main-font-color: black;
  --link-hover-color: yellow;
}

body,
html {
  margin: 0px auto;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
  min-width: 320px;
}

.wrapper {
  padding: 20px;
  height: 100%;
}