.nav {
    width: 95%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    min-width: 350px;
}

.page-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.icon {
    width: var(--icon-size);
    height: auto;
    margin: 10px;
}

.icon:hover {
    outline: 1px solid yellow;
}

.link {
    text-decoration: none;
    height: auto;
    margin: 10px;
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    cursor: pointer;
}

.link:hover {
    -webkit-text-stroke: 0.25px yellow;
}

@media screen and (max-width: 800px) {
    .link {
        font-size: var(--main-font-size-mobile);
    }
    .icon {
        width: var(--icon-size-mobile);
    }
}